<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Twitoff! - {{ title }}</title>
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
      <script src="https://d3js.org/d3.v4.js"></script>
   </head>
   <body>
              <script>

                d3.select("body").append("span")
                    .text("Hello, world!");
                
                </script>
                
      <div style="border: thin solid black;margin:400px;">
         <h3>Pic Metric Version 0.1</h3>
         <table>
            <thead>
               <tr>
                  <th>Image Upload</th>
                  <th>URL Upload</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <form action = "/demo_file" method = "POST" enctype = "multipart/form-data">
                        <input style="margin: auto;" class= "button button-clear" type = "file" name = "file" placeholder="Upload Image"/>
                        <input style="margin: auto;" class="button-primary" type="submit" value="Send">
                     </form>
                  </td>
                  <td>
                     <form action = "/demo_url" method = "POST" enctype = "multipart/form-data">
                        <input style="margin: auto;" type = "text" name = "url" placeholder="Image URL Here" />
                        <input style="margin: auto;" class="button-primary" type="submit" value="Send">
                     </form>
                  </td>
      </div>
      </div>
      </tbody>
      </table>
      {% block content %}
      {% endblock %}
   </body>
</html>